<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card photoCover="https://www.aut.ac.nz/__data/assets/image/0006/92328/placeholder-image10.jpg"
      cardTitle="NOVO HOMEM DE FERRO 3D ANUNCIADO"
      cardDescription="Marvel anucia o novo filme do homem de ferro, que será lançada em setembro de 2024">
    </app-big-card>

  </div>

  <div class="articles__others">
    <app-small-card cardTitle="Nova Série anunciada no Disney +"
      photoCover="https://www.aut.ac.nz/__data/assets/image/0006/92328/placeholder-image10.jpg"
      dataCreated="August 18,2023"></app-small-card>

    <app-small-card cardTitle="Nova Série anunciada no Disney +"
      photoCover="https://www.aut.ac.nz/__data/assets/image/0006/92328/placeholder-image10.jpg"
      dataCreated="August 18,2023"></app-small-card>

    <app-small-card cardTitle="Nova Série anunciada no Disney +"
      photoCover="https://www.aut.ac.nz/__data/assets/image/0006/92328/placeholder-image10.jpg"
      dataCreated="August 18,2023"></app-small-card>
  </div>
</div>
