<nav class="menu-bar">
  <div class="logo">
    <img src="https://www.aut.ac.nz/__data/assets/image/0006/92328/placeholder-image10.jpg" alt="Logo">
  </div>
  <div class="social-icons">
    <a href="#">
      <img src="../../../assets/icons/linkedin.svg" alt="Linkedin">
      <span>Linkedin</span>
    </a>
    <a href="#">
      <img src="../../../assets/icons/github.svg" alt="github">
      Github
    </a>
    <a href="#">
      <img src="../../../assets/icons/youtube.svg" alt="Youtube">
      <span>Youtube</span>
    </a>
  </div>
  <ul class="info-links">
    <li class="hover-link"><a href="#">Home</a></li>
    <li class="hover-link"><a href="#">Sobre</a></li>
    <li class="hover-link"><a href="#">Contato</a></li>
  </ul>
</nav>
